{% for block in section.blocks %}
{%- assign product = all_products[block.settings.product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
<div class="section-container block-{{forloop.index}}" id="productblock-{{block.id}}">
  <div class="conretecalculator" style="max-width:1024px;">
    <div class="section-heading"> 
      <h1 class="sec-heading"></h1>
    </div>
    <div class="grid grid--uniform">
      <div class="calculations grid__item medium-up--one-third small--one-whole slide-up-animation animated">
        <div class="inout-fields_cal">
          <div>
            <input class="length" type="number" placeholder="Length">
            <label class="placev" for="volume">cm</label>
          </div>
          <span class="text-center">X</span>
          <div>
            <input class="width" type="number" placeholder="Width">
            <label class="placev" for="volume">cm</label>
          </div>
          <span class="text-center">X</span>
          <div>
            <input class="height" type="number" placeholder="Height">
            <label class="placev" for="volume">cm</label>
          </div>
          <span class="text-center"><strong>You need</strong></span>
        </div>
        <div class="calresults">
          <div>
            <input class="bags" name="quantity" type="number" placeholder="Bags" value="" data-litres="{{product.type | remove: ' litres'}}" readonly disabled>
            <label class="placev" for="bags"><strong>Bags</strong></label>
          </div>
          <div>
            <input class="volume" type="text" placeholder="Volume" readonly disabled>
            <label class="placev" for="volume">Litres</label>
          </div>
        </div>
        <div class="volinput">
          <label class="text-center">Or enter your m3 below</label>
          <input class="volumein" type="number" placeholder="Volume">
          <label class="placev" for="volume">m3</label>
        </div>
      </div>
      <div class="grid__item medium-up--two-thirds small--one-whole slide-up-animation animated">
        <div class="product grid__item medium-up--one-whole small--one-whole slide-up-animation animated">
          {% include 'concrete-product-grid' %}
        </div>
      </div>
    </div>
  </div>
</div>  

<script type="text/javascript">
  $(document).ready(function() {
    $(document).on('change input copy paste keyup', '#productblock-{{block.id}} .inout-fields_cal input[type="number"]', function() {
      var length = $('#productblock-{{block.id}} .length').val();
      var height = $('#productblock-{{block.id}} .height').val();
      var width = $('#productblock-{{block.id}} .width').val();
      var volumeincm = length * height * width;
      var volumeinm =  Math.ceil(volumeincm / 1000);
      $('#productblock-{{block.id}} .volume').val(volumeinm);$('#productblock-{{block.id}} .volumein').val('');
      if (length.length && height.length && width.length){
        $('#productblock-{{block.id}} [name="quantity"]').each(function(i, obj) {
          var eachqty = $(this).data('litres');
          var etotalqty =  Math.ceil(volumeinm / eachqty);
          if(etotalqty < 1){
            var etotalqtyround = 1;
          } else {
            var etotalqtyround = etotalqty;
          }
          $(this).val(etotalqtyround).attr('value', etotalqtyround);
          var eprice = $(this).parents('#productblock-{{block.id}}').find('.product-single__price').attr('content');
          $(this).parents('#productblock-{{block.id}}').find('.product-single__price').html('£'+ eprice + ' * ' + etotalqtyround + ' = £' + (eprice * etotalqtyround).toFixed(2));
        });
      }
    });
    $(document).on('change input copy paste keyup', '#productblock-{{block.id}} .volumein', function() {
      var volumeinput =  Math.ceil($(this).val() * 1000);
      $('#productblock-{{block.id}} .inout-fields_cal input[type="number"], #productblock-{{block.id}} .calresults input[type="text"]').val('');
      $('#productblock-{{block.id}} [name="quantity"]').each(function(i, obj) {
        var eachqtyv = $(this).data('litres');
        var etotalqtyv =  Math.ceil(volumeinput / eachqtyv);
        if(etotalqtyv < 1){
          var etotalqtyroundv = 1;
        } else {
          var etotalqtyroundv = etotalqtyv;
        }         
        $(this).val(etotalqtyroundv).attr('value', etotalqtyroundv);
        var epricev = $(this).parents('#productblock-{{block.id}}').find('.product-single__price').attr('content');
        $(this).parents('#productblock-{{block.id}}').find('.product-single__price').html('£'+ epricev + ' * ' + etotalqtyroundv + ' = £' + (epricev * etotalqtyroundv).toFixed(2));
      });
    });
  });
</script>
{% endfor %}

{% schema %}
{
  "name": "Concrete Calculator",
  "settings": [],
  "blocks":[{
    "name": "product",
    "type": "product",
    "settings": [{
      "type": "product",
      "id": "product",
      "label": "Product"
    }]
  }]
}
{% endschema %}
